<section id="header">
    <div id="header-container">
        <span id="title">
            {{ header }}
        </span>
    </div>
</section>


<p-toast></p-toast>

<section id="content">
    <form [formGroup]="ForgotPasswordform" >
        <div class="group">
            <label for="floatingInput">Email </label>
            <div class="input-group mb-3">
                <input type="email"  pKeyFilter="email" minlength="5" pInputText class="form-control" formControlName="c_emailid" id="floatingInput">
            </div>
        </div>
        <div class="group">
            <label for="floatingPassword">Password</label>
            <div class="input-group mb-3">
                <input [type]="dataTypepd" minlength="4" maxlength="16" [pKeyFilter]="blockSpace" class="form-control" id="floatingPassword" formControlName="c_password" placeholder="Password"
                    aria-label="Password">
                    <span class="input-group-text" >
                        <i *ngIf="dataTypepd =='text'" class="pi pi-eye" (click)="dataTypepd = 'password'"></i>
                        <i *ngIf="dataTypepd =='password'" class="pi pi-eye-slash" (click)="dataTypepd = 'text'"></i>
                    </span>
            </div>
        </div>
        <div class="group">
            <label for="floatingPassword">Confirm Password</label>
            <div class="input-group mb-3">
                <input [type]="dataTypeCpd" minlength="4" maxlength="16" [pKeyFilter]="blockSpace" class="form-control" id="floatingPassword" formControlName="con_password" placeholder="Password"
                    aria-label="Password">
                    <span class="input-group-text" >
                        <i *ngIf="dataTypeCpd =='text'" class="pi pi-eye" (click)="dataTypeCpd = 'password'"></i>
                        <i *ngIf="dataTypeCpd =='password'" class="pi pi-eye-slash" (click)="dataTypeCpd = 'text'"></i>
                    </span>
            </div>
        </div>
        <div>
            <button class="btn btn-outline-secondary" (click)="submit()"  type="button">Change Password</button>
        </div>
    </form>
</section>

